streamlit==1.45.1
langchain==0.1.16
langchain-google-genai==0.0.11
google-generativeai==0.4.1
PyPDF2==3.0.1
python-dotenv==1.1.0
langchain-community==0.0.38
faiss-cpu==1.11.0
sentence-transformers==4.1.0
huggingface-hub==0.23.0
torch==2.2.2
torchvision==0.22.0+cu118
torchaudio==2.7.0+cu118